#title
  %h1= t('questions.index.title')
#indexlinks
  = link_to t('questions.index.new'), new_question_path

#table
  %table
    %tr.header
      %th= t('questions.index.question')
      %th= t('questions.index.answer')
      %th{:width => 120}= t('questions.index.posted_at')
    = render @questions
