#title
  %h1= @question.question_text

#form
  = form_for [ :admin, @question, @answer] do |form|
    %div= form.label :answer_text, 'Answer'
    %div= form.text_area :answer_text

    = form.submit 'Submit'
