#title
  %h1= t('admin.questions.index.title')

#table
  %table
    %tr.header
      %th{:width => 600}= t('admin.questions.index.question')
      %th= t('admin.questions.index.answers')
      %th.centered{:width => 120}= t('admin.questions.index.posted_at')
      %th.centered{:width => 100}= t('admin.questions.index.actions')
    = render @questions
